:root.theme-dark {
  --decoration-color: #ff0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --title-color: #000028;
  --section-title-color: #ff0070;
  --accent-color: #DB00FF;
  --decoration-color-hover: #FF007066;
  --detalis-color: #ff0070;

  --background-image: url('../images/cover-image-dark.png');

  --font-family: 'IBM Plex mono';
  --font-size: 18px;
}
