.page {
  background-color: var(--bg-color, #000028);
  background-image: var(
		--background-image,
		url('../images/cover-image-dark.png')
	);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: var(--font-family, 'IBM Plex mono', monospace);
	font-size: var(--font-size, 18px);
  color: var(--text-color, #f1b2ce);
  font-weight: normal;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  block-size: 100vh;
}

.rec {
	position: absolute;
	inset-block-start: 10px;
	inset-inline-end: 40px;
	font-size: var(--font-size, 18px);
	display: flex;
}

.rec::before {
	content: 'REC';
	color: var(--detalis-color, #ff0070);
}

.rec::after {
	content: '';
	position: absolute;
  	display: block;
	inline-size: 9px;
	block-size: 9px;
	inset-inline-start: 40px;
	inset-block-start: 9px;
	border-radius: 50%;
	background-color: var(--detalis-color, #ff0070);
	box-shadow: 0 0 4px 2px var(--detalis-color, #ff0070);
}

.decorated-zone::after,
.decorated-zone::before {
	content: '';
	position: absolute;
	display: block;
	inline-size: 25px;
	block-size: 25px;
}

.decorated-zone::before {
	inset-block-start: 10px;
	inset-inline-end: 10px;
	border-inline-end: 1px solid var(--detalis-color, #ff0070);
	border-block-start: 1px solid var(--detalis-color, #ff0070);
}

.decorated-zone::after {
	inset-block-end: 10px;
	inset-inline-start: 10px;
	border-inline-start: 1px solid var(--detalis-color, #ff0070);
	border-block-end: 1px solid var(--detalis-color, #ff0070);
}

.header__theme-menu {
  margin-top: 55px;
  justify-self: end;
}

.header__theme-menu-list {
  inline-size: 230px;
  display: grid;
  justify-items: end;
  height: 26px;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  color: var(--detalis-color, #ff0070);
}

.header__theme-menu-button {
  	background-color: transparent;
	border-color: transparent;
  	outline: none;
	align-self: center;
  	text-transform: lowercase;
  	padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
	border-color: var(--decoration-color-hover, #FF007066);
}

.header__theme-menu-button:focus {
	outline: none;
}

.header__theme-menu-button:focus-visible {
	border-block-end: 1px solid var(--detalis-color, #ff0070);
}

.header__theme-menu-button_active {
	pointer-events: none;
	border-color: var(--detalis-color, #FF007066);
}

.header-text {
	font-weight: 700;
  	line-height: 23.4px;
  	align-self: center;
}

.title-decor {
	color: var(--title-color, #000028);
	background-color: var(--decoration-color, #ff0070);
  	background-size: 100%;
}

.logo-title {
	line-height: 83%;
  color: var(--accent-color, #db00ff);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header-title {
  text-shadow: 4px 4px 0 var(--decoration-color, #FF0070);
}

.main {
  padding: 40px 10px;
  background-color: var(--bg-color, #000028);
}
.section {
	display: grid;
	grid-template-columns: 1fr;
  	gap: 20px;
}

.section:not(:last-child) {
	margin-block-end: 50px;
}

.section-title {
  font-size: var(--font-size, 18px);
  color: var(--section-title-color, #ff0070);
}

.list {
  display: grid;
  gap: 20px;
}

.article-title {
	margin-block-end: 10px;
	font-size: var(--title-color, 18px);
  	line-height: 23.4px;
}

.article-text {
	font-size: var(--font-size, 18px);
	line-height: 23.4px;
}

.advices-article {
	display: grid;
	gap: 10px;
}

.mini-title {
	font-weight: 500;
}

.link {
	text-decoration: none;
	text-shadow: 2px 2px 0 var(--decoration-color, #ff0070);
}

.link:hover {
	border-bottom: 1px solid var(--text-color, #f1b2ce);
}

.link:focus {
	outline: none;
}

.link:focus-visible {
	outline: 1px solid var(--text-color, #f1b2ce);
}

.pictures {
	display: grid;
	gap: 10px;
}

.pictures-collage {
	display: grid;
	gap: 10px;
}

.pictures-collage-item {
	object-fit: cover;
	object-position: center;
	inline-size: 100%;
	block-size: 100%;
}

.footer {
	display: grid;
	background-color: var(--bg-color, #000028);
	position: relative;
	block-size: 100vh;
}

.footer-title {
	justify-self: center;
	align-self: center;
	text-shadow: 2px 2px 0 var(--decoration-color, #ff0070);
}

@media (width >= 768px) {
	.header {
		padding: 20px 20px 20px 0;
	}
	.rec {
		inset-block-start: 20px;
		inset-inline-end: 50px;
	}
	.decorated-zone::before {
		inset-block-start: 20px;
		inset-inline-end: 20px;
	}
	.decorated-zone::after {
		inset-block-end: 20px;
		inset-inline-start: 20px;
	}
	.header__theme-menu {
		margin-top: 165px;
	}
	.header-title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}
	.header-text {
		inline-size: 49%;
		justify-self: end;
		padding: 0 10px 0 0;
	}

	.main {
		padding: 60px 20px;
	}
	.section {
		grid-template-columns: 1fr 2fr;
	}
	.section:not(:last-child) {
		margin-block-end: 80px;
	}
	.section-title {
		max-inline-size: 236px;
	}
	.concentration {
		display: flex;
		flex-direction: column;
	}
	.concentration-list {
		display: flex;
		flex-direction: column;
	}
	.pictures {
		gap: 20px;
		grid-template-rows: min-content 1fr;
		grid-template-columns: none;
	}
	.pictures-collage {
		gap: 20px;
	}
	.pictures-collage-item {
		grid-template-rows: repeat(3, min-content);
		grid-template-columns: repeat(3, min-content);
	}
	.sunset {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.ice-cream {
		grid-column: 3 / 4;
		grid-row: 1 / 3;
	}
	.tape {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
	}
	.books {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	.street {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
	}

	.footer-title {
		font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
	}
}

@media (width >= 1024px) {
	.header__theme-menu {
		margin-top: 0;
		justify-self: center;
		padding-left: 15px;
	}
	.header__theme-menu-list {
		grid-template-rows: none;
		grid-template-columns: repeat(3, 1fr);
	}
	.header-text {
		padding: 0;
	}
	.section-title {
		max-inline-size: 315px;
	}
	.section {
		gap: 10px;
	}
	.concentration {
		gap: 20px;
	}
	.concentration-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
	}
	.pictures {
		gap: 20px;
	}
}
